# Dossiers Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environnement virtuel
.venv/
env/
venv/

# Fichiers temporaires
*.log
*.sqlite3

# Base de données SQLite (garder uniquement medbridge.db en production)
*.db
!medbridge.db  # Décommenter pour inclure medbridge.db dans git si besoin

# Configuration locale
.env
.DS_Store

# Cache d'IDE
.vscode/
.idea/
Doc/interfaces.integration_src/interfaces.integration/
